<div class="container">
  <div class="left">
    <div class="ligne-centree">
      <app-pampa-on-off (toggleChange)="onToggleChange($event)"></app-pampa-on-off>
    </div>
    <div class="send-challenge-panel">
      <h3>Envoyer une demande de combat :</h3>
      <div class="format-select">
        Choisir un format :
        <p-dropdown [options]="formats" [(ngModel)]="selectedFormat" (ngModelChange)="onFormatChange()" placeholder="Selectionnez un format" optionLabel="nom"></p-dropdown>
      </div>
      <div *ngIf="selectedFormat" class="deck-select">
        Choisir un deck :
        <p-dropdown [options]="filteredDecks" [(ngModel)]="selectedDeck" placeholder="Selectionnez un deck" optionLabel="nom"></p-dropdown>
      </div>
      <div *ngIf="selectedDeck" class="firstPlayerChoice">
        Choisir le premier joueur ?
        <label class="toggle-switch">
          <input type="checkbox" [(ngModel)]="chooseFirstPlayer">
          <div class="toggle-switch-background">
            <div class="toggle-switch-handle"></div>
          </div>
        </label>

        <div *ngIf="chooseFirstPlayer" class="firstPlayerChoice">
          Choix du premier joueur
          <p-dropdown [options]="firstPlayerChoices" [(ngModel)]="selectedFirstPlayer" placeholder="Selectionnez le premier joueur"></p-dropdown>
        </div>

      </div>
      <div *ngIf="selectedDeck" class="opponent-select">
        Choisir un adversaire :
        <ul>
          <ng-container *ngIf="opponentList && opponentList.length">
            <div *ngFor="let opponent of opponentList">
              <div class="ligne-gauche" *ngIf="opponent.id !== userId">
                {{opponent.pseudo}}
                <app-pampa-button [texte]="'Défier'" [couleur]="'bleu'" [taille]="'mini'" (click)="challengeOpponent(opponent)"></app-pampa-button>
              </div>
            </div>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="right">
      <div class="received-requests-panel">
        <h3>Demandes envoyées :</h3>
        <p-table [value]="tableauDemandesEnvoyees">
          <ng-template pTemplate="header">
            <tr>
              <th>Nom de l'adversaire</th>
              <th>Format du deck</th>
              <th>Deck sélectionné</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>{{ rowData.joueurDeuxPseudo }}</td>
              <td>{{ rowData.nomFormat }}</td>
              <td>{{ rowData.nomDeckUn }}</td>
              <td>{{ rowData.status }}</td>
              <td>
                <button mat-icon-button aria-label="Supprimer" (click)="deleteDemande(rowData)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
  </div>

  <div class="right">
    <div class="received-requests-panel">
      <h3>Demandes reçues :</h3>
      <p-table [value]="tableauDemandesRecues">
        <ng-template pTemplate="header">
          <tr>
            <th>Nom de l'adversaire</th>
            <th>Format du deck</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.joueurUnPseudo }}</td>
            <td>{{ rowData.nomFormat }}</td>
            <td>{{ rowData.status }}</td>
            <td>
              <button mat-icon-button aria-label="Voir" (click)="voirDemande(rowData)">
                  <mat-icon>check</mat-icon>
                </button>
              <button mat-icon-button aria-label="Supprimer" (click)="refuserDemande(rowData)">
                  <mat-icon>close</mat-icon>
                </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
