.filtres {
  width: 100%;
  padding-top: 15px;
  color: black;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
  min-width: 20rem;
}

div {
  text-align: center;
  padding: 10px;
}
