<div class="round-robin-tournament">
  <h2><div class="ligne-centree">Ligue {{ligue.nom}}</div></h2>
  <table>
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let player of players">{{ player.utilisateur.pseudo }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players; let i = index">
      <td>{{ player.utilisateur.pseudo }}</td>
      <td *ngFor="let opponent of players; let j = index">
        <div *ngIf="i !== j && hasAffrontement(player.utilisateur.id, opponent.utilisateur.id)" class="match-cell" [class.played]="i !== j">Match {{ i + 1 }} vs {{ j + 1 }}</div>
        <div *ngIf="i !== j && !hasAffrontement(player.utilisateur.id, opponent.utilisateur.id)" class="match-cell" [class.played]="i !== j">Match à venir</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
