<div class="round-robin-tournament" *ngIf="ligue">
  <h2><div class="ligne-centree">Ligue {{ligue.nom}}</div></h2>
  <div class="has-affrontement" *ngIf="hasAffrontement">Vous avez un combat à jouer !</div>

  <div *ngFor="let player of players; let i = index">
    <div *ngFor="let opponent of players; let j = index">
      <div *ngIf="i<j && isAffrontement(player.utilisateur.id, opponent.utilisateur.id)" class="match-cell" [class.played]="i !== j">
        {{player.utilisateur.pseudo}} vs {{opponent.utilisateur.pseudo}} :
        <div>Score : {{getScoreAffrontement(player.utilisateur.id, opponent.utilisateur.id)}}</div>
        <div *ngIf="!isAffrontementTermine(getAffrontement(player.utilisateur.id, opponent.utilisateur.id)) && playerInAffrontement(player.utilisateur.id, opponent.utilisateur.id) ">
          <app-pampa-button [texte]="'Combattre'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="openAffrontementPartie(player.utilisateur.id, opponent.utilisateur.id)"></app-pampa-button>
        </div>
        <div class="text-red" *ngIf="isAffrontementTermine(getAffrontement(player.utilisateur.id, opponent.utilisateur.id))"> Terminé !</div>
      </div>
    </div>
  </div>

  <h2><div class="ligne-centree">Classement</div></h2>
  <table>
    <thead>
    <tr>
      <th>Position</th>
      <th>Pseudo</th>
      <th>Victoires</th>
      <th>Défaites</th>
      <th>Manches gagnées</th>
      <th>Manches perdues</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisez *ngFor pour parcourir la liste triée des joueurs -->
    <tr *ngFor="let player of sortedPlayers; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ player.utilisateur.pseudo }}</td>
      <td>{{ getNombreVictoires(player.utilisateur.id) }}</td>
      <td>{{ getNombreDefaites(player.utilisateur.id) }}</td>
      <td>{{ getNombreManchesGagnees(player.utilisateur.id) }}</td>
      <td>{{ getNombreManchesPerdues(player.utilisateur.id) }}</td>
    </tr>
    </tbody>
  </table>
</div>
