.round-robin-tournament {
  padding: 20px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table th, table td {

  text-align: center;
  border: 1px solid #ccc;
}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
}

table tr:hover {
}

.match-cell {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-cell.played {
  font-weight: bold;
}
