<div class="deckbuilder-container">
  <div class="gauche">
    <div class="sticky-bandeau">
      <div class="bandeaudecks">
        <app-pampa-button [texte]="'NEW'" [couleur]="'vert'" [taille]="'trespetit'" (clickBouton)="newDeck()"></app-pampa-button>
        <div *ngFor="let deck of decks">
          <app-pampa-button-carre [texte]="deck.nom + ' : ' + getFormatsNomForDeck(deck)" [couleur]="'marron'" [taille]="'petit'" (clickBouton)="selectDeck(deck)"></app-pampa-button-carre>
        </div>
      </div>
      <div *ngIf="selectedDeck">
        <div class="ligne-centree">
          <div class="ligne-centree espaces-autour">
            <div class="label-champs">
              Nom du deck :
            </div>
            <div class="cadre-nom">
              <input type="text" pInputText [(ngModel)]="nomDeck"/>
            </div>
          </div>
          <div class="ligne-centree espaces-autour">
            <div class="label-champs">
              Format du deck :
            </div>
            <p-dropdown [options]="formats" [(ngModel)]="selectedFormat" (ngModelChange)="onFormatChange()" placeholder="Selectionnez un format" optionLabel="nom"></p-dropdown>
          </div>

          <div class="ligne-centree espaces-autour">
            <app-pampa-button [texte]="'Sauvegarde'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="saveDeck()"></app-pampa-button>
            <app-pampa-button [texte]="'Dupliquer'" [couleur]="'violet'" [taille]="'trespetit'" (clickBouton)="duplicateDeck()"></app-pampa-button>
            <app-pampa-button [texte]="'Supprimer'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="delete()"></app-pampa-button>
          </div>
        </div>
        <app-limitations-deck [selectedFormat]="selectedFormat"></app-limitations-deck>
        <app-bandeau-filtres-cartes [filtersAndSortsValues]="filtersAndSortsValues" (applyFilters)="applyFilters($event)"></app-bandeau-filtres-cartes>
      </div>
      <p-messages [(value)]="message" [enableService]="false"></p-messages>
    </div>
    <div class="creationdeck" *ngIf="selectedDeck">
      <ul class="cartes ligne-centree">
        <li *ngFor="let carteWithQuantity of collectionJoueurFiltreeTriee">
          <app-carte-terrain [carte]="carteWithQuantity.carte" [taille]="'deckbuilder'" (click)="addCarte(carteWithQuantity.carte)"></app-carte-terrain>
          <div *ngIf="carteWithQuantity.carte.image_path == null">Pas d'image pour cette carte {{carteWithQuantity.carte.nom}}.</div>
          <div class="numberOfElements">(x{{carteWithQuantity.quantity}})</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="cadredeck" *ngIf="selectedDeck">
    <div class="ligne-centree">
      <h4>Nombre de cartes : {{ selectedDeck.cartes.length }}/20</h4>
    </div>
    <div class="ligne-centree" *ngIf="selectedFormat && selectedFormat.nom === '44'">
      Rareté totale : {{ totalRarete }}
    </div>
    <div class="carte-deck ligne-centree" *ngFor="let card of selectedDeck.cartes | sortCardsByName">
      <app-deck-card [carte]="card" (clickedCarte)="removeCard(card)"></app-deck-card>
    </div>
  </div>
</div>
