<div class="deckbuilder-container">
  <div class="background">
    <div class="bandeaudecks">
      <app-pampa-button [texte]="'NEW'" [couleur]="'vert'" [taille]="'trespetit'" (clickBouton)="newDeck()"></app-pampa-button>
      <div *ngFor="let deck of decks">
        <app-pampa-button-carre [texte]="deck.nom + ' - ' + deck.format.nom" [couleur]="'marron'" [taille]="'petit'" (clickBouton)="selectDeck(deck)"></app-pampa-button-carre>
      </div>
    </div>
    <div class="creationdeck" *ngIf="selectedDeck">
      <div class="cadrecollection">
        <p-messages [(value)]="error" [enableService]="false"></p-messages>

        <div class="actions">
          Nom du deck :
          <input type="text" pInputText [(ngModel)]="selectedDeck.nom"/>
          Format du deck : <p-dropdown [options]="formats" [(ngModel)]="selectedFormat" (ngModelChange)="onFormatChange()" placeholder="Selectionnez un format" optionLabel="nom"></p-dropdown>

          <app-pampa-button [texte]="'Sauvegarde'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="saveDeck()"></app-pampa-button>
          <app-pampa-button [texte]="'Dupliquer'" [couleur]="'violet'" [taille]="'trespetit'" (clickBouton)="duplicateDeck()"></app-pampa-button>
          <app-pampa-button [texte]="'Supprimer'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="delete()"></app-pampa-button>
        </div>
        <div class="wrapper">
          <div class="card-w">
            <div class="card active">
              <div class="card__text">
                <div class="format-restrictions" *ngIf="this.selectedFormat">
                  <div class="restrictions-title">Restrictions du format :</div>
                  <div class="restrictions-list">
                    <ng-container *ngIf="this.selectedFormat.limitationCartes.length > 0; else noLimitation">
                      <div class="restriction-item" *ngFor="let limitationCarte of this.selectedFormat.limitationCartes">
                        <div class="card-name">{{limitationCarte.carte.nom}}</div>
                        <div class="card-limit">Limitation : {{limitationCarte.limite}}</div>
                      </div>
                      <div class="restriction-item">
                        <div class="card-name">Autres cartes</div>
                        <div class="card-limit">Limitation : 3</div>
                      </div>
                    </ng-container>
                    <ng-template #noLimitation>
                      <div class="no-limitation">Aucune limitation</div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filtres">
          <div class="filters-container">
            <p-multiSelect class="clan-ms" [options]="clans" [(ngModel)]="selectedClans" defaultLabel="Filtrer par clan" (onChange)="applyFilters()">
            </p-multiSelect>
            <p-multiSelect class="type-ms" [options]="types" [(ngModel)]="selectedTypes" defaultLabel="Filtrer par type" (onChange)="applyFilters()">
            </p-multiSelect>
            <p-multiSelect class="rarete-ms"  [options]="raretes" [(ngModel)]="selectedRaretes" defaultLabel="Filtrer par rareté" (onChange)="applyFilters()">
            </p-multiSelect>
            <app-pampa-button [texte]="'Réinitialiser'" [couleur]="'gris'" [taille]="'trespetit'" (clickBouton)="resetFilters()"></app-pampa-button>
            <app-pampa-button [texte]="'Trier par nom'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="sort('nom')"></app-pampa-button>
            <app-pampa-button [texte]="'Trier par rareté'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="sort('rarete')"></app-pampa-button>
          </div>
        </div>
        <ul class="cartes">
          <li *ngFor="let carteWithQuantity of collectionJoueur">
            <app-carte-terrain [carte]="carteWithQuantity.carte" (click)="addCarte(carteWithQuantity.carte)"></app-carte-terrain>
            <div *ngIf="carteWithQuantity.carte.image_path == null">Pas d'image pour cette carte {{carteWithQuantity.carte.nom}}.</div>
            <div class="numberOfElements">(x{{carteWithQuantity.quantity}})</div>
          </li>
        </ul>
      </div>
      <div class="cadredeck">
        Nombre de cartes : {{ selectedDeck.cartes.length }}/20
        <div *ngFor="let card of selectedDeck.cartes | sortCardsByName">
          <app-deck-card [carte]="card" (clickedCarte)="removeCard(card)"></app-deck-card>
        </div>
      </div>
    </div>
  </div>
</div>
