.avatar-view {
  display: flex;
  align-items: center;
}

@media (min-height: 850px) {
  .avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
  }

  .avatar-part {
    position: absolute;
    height: 120px;
  }
}

@media (min-height: 600px) and (max-height: 850px) {
  .avatar-container {
    position: relative;
    width: 90px;
    height: 90px;
  }

  .avatar-part {
    position: absolute;
    height: 90px;
  }
}

@media (max-height: 600px) {
  .avatar-container {
    position: relative;
    width: 60px;
    height: 60px;
  }

  .avatar-part {
    position: absolute;
    height: 60px;
  }
}

.avatar-part.back {
  z-index: 1;
}

.avatar-part.body {
  z-index: 3;
}

.avatar-part.head {
  z-index: 4;
}

.avatar-part.hat {
  z-index: 5;
}
