.avatar-container {
  position: relative;
  width: 200px;
  height: 130px;
}

.avatar-part {
  position: absolute;
  height: 120px;
}

.avatar-part.back {
  z-index: 1;
}

.avatar-part.body {
  z-index: 3;
}

.avatar-part.head {
  z-index: 4;
}

.avatar-part.hat {
  z-index: 5;
}
