.card {
  margin: 5px;
  padding: 2px 5px;
  aspect-ratio: 3 / 4;
  background: rgba(64, 67, 78, 0.9);
  border: solid 1px black;
  border-radius: 12px;
  box-shadow: -5px -5px 20px #141414, 5px 5px 20px #0a0a0a;
  backdrop-filter: blur(10px);
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  cursor: pointer;
}

.card-content {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "icone1 nom icone2"
  "icone1 stars icone2"
}

.icone1 {
  grid-area: icone1;
}

.nom {
  grid-area: nom;
  text-align: center;
}

.icone2 {
  grid-area: icone2;
}

.stars {
  grid-area: stars;
  font-size: 18px;
  text-align: center;
}

.card-header h3 {
  font-size: 12px;
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  color: white;
}

.card-image {
  border: solid 2px black;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.card.terrain:hover .card-image, .card.collection:hover .card-image, .card.booster:hover .card-image, .card.deckbuilder:hover .card-image {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.collection .card-image, .booster .card-image, .deckbuilder .card-image {
  max-width:100%;
}

.terrain .card-image, .defausse .card-image {
  aspect-ratio: 16 / 9;
  max-width:100%;
}

.card-details {
  height: 100%;
  box-sizing: border-box;
  transition: height 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.card-details h4 {
  font-size: 9px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-details p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card-power h4 {
  font-size: 11px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-power span {
  font-weight: bold;
}

.card-description {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .card-details {
  height: 80%;
  transition: max-height 0.5s ease-in-out;
}

.card:hover .card-image {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card.terrain:hover .small, .card.collection:hover .small, .card.booster:hover .small, .card.deckbuilder:hover .small {
  font-size: 13px;
}

.card.terrain:hover h4, .card.collection:hover h4, .card.booster:hover h4, .card.deckbuilder:hover h4 {
  font-size: 13px;
}

.terrain .card-description .small, .defausse .card-description .small {
  font-size: 9px;
}

.collection .card-description .small, .booster .card-description .small, .deckbuilder .card-description .small {
  font-size: 11px;
}

.silence {
  filter: grayscale(100%);
}

.bouclier {
  border: 3px solid black;
}

.insensible {
  border: 3px solid white;
  filter: opacity(40%);
}

.corrompu {
  border: 3px solid red;
  opacity: 0.1;
}

.prison {
  filter: blur(5px);
}

.defausse .icone img {
  height: 10px;
}

.terrain .icone img, .collection .icone img, .deckbuilder .icone img, .booster .icone img {
  height: 15px;
}

@media (min-height: 850px) {
  .collection {
    height: 250px;
  }

  .booster {
    height: 250px;
  }

  .deckbuilder {
    height: 250px;
  }

  .terrain {
    height: 180px;
  }

}

@media (min-height: 600px) and (max-height: 850px) {
  .collection {
    height: 240px;
  }

  .booster {
    height: 240px;
  }

  .deckbuilder {
    height: 240px;
  }

  .terrain {
    height: 180px;
  }

}

@media (max-height: 600px) {
  .collection {
    height: 230px;
  }

  .booster {
    height: 230px;
  }

  .deckbuilder {
    height: 230px;
  }

  .terrain {
    height: 180px;
  }
}
