.card {
  margin: 5px;
  padding: 2px 5px;
  background: rgba(64, 67, 78, 0.9);
  border: solid 1px black;
  border-radius: 12px;
  box-shadow: -5px -5px 20px #141414, 5px 5px 20px #0a0a0a;
  backdrop-filter: blur(10px);
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  cursor: pointer;
}

@media (min-height: 850px) {
  .card {
    margin: 5px;
  }
}

@media (min-height: 600px) and (max-height: 850px) {
  .card {
    margin: 2px;
  }
}

@media (max-height: 600px) {
  .card {
    margin: 1px;
  }
}

.card-content {
  height: 100%;
  padding: 5px 1px 2px;
  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "icone1 nom icone2"
  "icone1 stars icone2"
}

.icone1 {
  grid-area: icone1;
}

.nom {
  grid-area: nom;
  text-align: center;
}

.icone2 {
  grid-area: icone2;
}

.stars {
  grid-area: stars;
  text-align: center;
}

.card-header h3 {
  font-size: 12px;
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  color: white;
}

.card-image {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.card.terrain:hover .card-image, .card.collection:hover .card-image, .card.booster:hover .card-image, .card.deckbuilder:hover .card-image {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.collection .card-image, .booster .card-image, .deckbuilder .card-image {
  max-width:100%;
}

.terrain .card-image, .defausse .card-image {
  aspect-ratio: 16 / 9;
  max-width:100%;
}

.card-details {
  height: 100%;
  box-sizing: border-box;
  transition: height 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
}

.card-details h4 {
  font-size: 9px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-details p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card-power h4 {
  font-size: 11px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-power span {
  font-weight: bold;
}

.card-description {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .card-details {
  height: 100%;
  transition: height 0.5s ease-in-out;
}

.card:hover .card-image {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card.terrain:hover .small, .card.collection:hover .small, .card.booster:hover .small, .card.deckbuilder:hover .small {
  font-size: 13px;
}

.card.terrain:hover h4, .card.collection:hover h4, .card.booster:hover h4, .card.deckbuilder:hover h4 {
  font-size: 13px;
}

.terrain .card-description .small, .defausse .card-description .small {
  font-size: 9px;
}

.collection .card-description .small, .booster .card-description .small, .deckbuilder .card-description .small {
  font-size: 11px;
}

.card.air {
  border: 3px solid #A7B0CA;
}

.card.champignon {
  border: 3px solid #8E5572;
}

.card.eau {
  border: 3px solid #27476E;
}

.card.electricite {
  border: 3px solid #FFBC1F;
}

.card.feu {
  border: 3px solid #C3423F;
}

.card.fruit {
  border: 3px solid #F45D01;
}

.card.jouet {
  border: 3px solid #C6C5B9;
}

.card.plante {
  border: 3px solid #3F612D;
}

.card.desert {
  border: 3px solid #C6A15B;
}

.card.glace {
  border: 3px solid #9DD9D2;
}

.card.roche {
  border: 3px solid #A38560;
}

.card.espace {
  border: 3px solid purple;
}

.card.nuit {
  border: 3px solid darkblue;
}

.card.casino {
  border-top: 3px solid #C3423F;
  border-left: 3px solid goldenrod;
  border-bottom: 3px solid #C3423F;
  border-right: 3px solid goldenrod;
}

.card.silence {
  background: rgba(164, 167, 178, 0.9);
}

.card.silence {
  filter: grayscale(100%);
}

.bouclier {
  background: #A4A0A6;
  border: 3px solid black;
}

.insensible {
  border: 3px solid white;
  filter: opacity(50%);
}

.card.corrompu {
  background: black;
}

.card.corrompu .card-image {
  background: black;
  border: 3px solid red;
  opacity: 0.6;
}

.prison {
  filter: blur(5px);
}

.defausse .icone img {
  height: 10px;
}

.terrain .icone img, .collection .icone img, .deckbuilder .icone img, .booster .icone img {
  height: 15px;
}

@media (min-height: 850px) {
  .collection {
    height: 250px;
    width: 187px;
  }

  .booster {
    height: 220px;
    width: 165px;
  }

  .deckbuilder {
    height: 220px;
    width: 165px;
  }

  .terrain {
    height: 180px;
    width: 135px;
  }

  .defausse {
    height: 180px;
    width: 135px;
  }

  .stars {
    font-size: 18px;
  }
}

@media (min-height: 600px) and (max-height: 850px) {
  .collection {
    height: 240px;
    width: 180px;
  }

  .booster {
    height: 210px;
    width: 157px;
  }

  .deckbuilder {
    height: 180px;
    width: 135px;
  }

  .terrain {
    height: 150px;
    width: 112px;
  }

  .defausse {
    height: 120px;
    width: 90px;
  }

  .stars {
    font-size: 16px;
    height: 16px;
  }

  .deckbuilder .card-image {
    aspect-ratio: 16 / 9;
    max-width:100%;
  }
}

@media (max-height: 600px) {
  .collection {
    height: 230px;
    width: 172px;
  }

  .booster {
    height: 180px;
    width: 135px;
  }

  .deckbuilder {
    height: 200px;
    width: 150px;
  }

  .terrain {
    height: 150px;
    width: 112px;
  }

  .defausse {
    height: 120px;
    width: 90px;
  }

  .stars {
    height: 14px;
    font-size: 14px;
  }

  .deckbuilder .card-image {
    aspect-ratio: 16 / 9;
    max-width:100%;
  }
}
