.card {
  margin-left: 5px;
  margin-right: 5px;
  width: 140px;
  height: 200px;
  background: rgba(255, 255, 255, 0.9);
  border: solid black 1px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
}

.card:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  height: 20%;
  width: 95%;
}

.card-header h3 {
  font-size: 13px;
  margin: 0;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  margin-bottom: 6px;
}

.bandeau {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icone img {
  height: 15px;
}

.stars {
  font-size: 20px;
  text-align: center;
}

.star {
  color: black;
}

.card-image {
  width: 90%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.card-image img {
  width: 100%;
}

.card-details {
  flex-grow: 1;
  box-sizing: border-box;
  transition: max-height 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.card-details h4 {
  font-size: 10px;
  margin: 0;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-details p {
  font-size: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-power h4 {
  font-size: 12px;
  margin: 0;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-power span {
  font-weight: bold;
  color: #fff;
}

.card-description {
  font-size: 10px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .card-details {
  max-height: 80%;
  transition: max-height 0.5s ease-in-out;
}

.card:hover .card-image {
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card:hover .small {
  font-size: 16px;
}

.card:hover h4 {
  font-size: 16px;
}

.silence {
  filter: grayscale(100%);
}

.bouclier {
  border: 3px solid black;
}

.insensible {
  border: 4px solid grey;
  filter: opacity(30%);
}

.corrompu {
  filter: invert(20%);
}

.prison {
  filter: blur(5px);
}
