<div class="avatar-creator">
  <h2>Création d'Avatar</h2>

  <div class="avatar-preview">
    <app-avatar-view
      [head]="selectedParts.head"
      [hat]="selectedParts.hat"
      [body]="selectedParts.body"
      [back]="selectedParts.back">
    </app-avatar-view>
  </div>

  <div class="selection-panel">
    <!-- Section Chapeau -->
    <div class="selection">
      <h4>Choix du chapeau</h4>
      <div class="options">
        <img
          *ngFor="let hat of parts.hats"
          [src]="hat"
          (click)="selectPart('hat', hat)"
          [class.selected]="hat === selectedParts.hat"
          role="button"
          alt="Option chapeau"
        />
        <img
          [src]="'assets/avatars/no-elem.png'"
          (click)="selectPart('hat', '')"
          [class.selected]="!selectedParts.hat"
          role="button"
          alt="Vide"
        />
      </div>
    </div>

    <!-- Section Tête -->
    <div class="selection">
      <h4>Choix de la tête</h4>
      <div class="options">
        <img
          *ngFor="let head of parts.heads"
          [src]="head"
          (click)="selectPart('head', head)"
          [class.selected]="head === selectedParts.head"
          role="button"
          alt="Option tête"
        />
      </div>
    </div>

    <!-- Section Corps -->
    <div class="selection">
      <h4>Choix du corps</h4>
      <div class="options">
        <img
          *ngFor="let body of parts.bodies"
          [src]="body"
          (click)="selectPart('body', body)"
          [class.selected]="body === selectedParts.body"
          role="button"
          alt="Option corps"
        />
      </div>
    </div>

    <!-- Section Dos -->
    <div class="selection">
      <h4>Choix de l'élément supplémentaire</h4>
      <div class="options">
        <img
          *ngFor="let back of parts.backs"
          [src]="back"
          (click)="selectPart('back', back)"
          [class.selected]="back === selectedParts.back"
          role="button"
          alt="Option back"
        />
        <img
          [src]="'assets/avatars/no-elem.png'"
          (click)="selectPart('back', '')"
          [class.selected]="!selectedParts.back"
          role="button"
          alt="Vide"
        />
      </div>
    </div>
  </div>
  <div class="ligne-centree save-avatar">
    <button (click)="saveAvatar()">Sauvegarder mon avatar</button>
  </div>
</div>
