.avatar-creator h2 {
  text-align: center;
  color: #8C1C13;
  font-family: Arial, sans-serif;
}

.avatar-preview {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.selection-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.selection {
  text-align: center;
  margin: 15px 0;
}

/* Style des onglets */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tabs button {
  padding: 8px 20px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tabs button:hover {
  background-color: #e0e0e0;
}

.tabs button.active {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.4);
  transform: scale(1.05);
}

.tabs button.selected {
  background-color: #3498db !important;
  color: white !important;
  border-color: #3498db !important;
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.4) !important;
  transform: scale(1.05) !important;
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.options img {
  width: 80px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #333333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.options img:hover {
  border-color: #ccc;
  transform: scale(1.05);
}

.options img.selected {
  border-color: #3498db;
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.4);
}

.options img.locked {
  opacity: 0.6;
  filter: grayscale(100%) brightness(0%) contrast(100);
  pointer-events: none;
}

.options img.locked:hover {
  cursor: not-allowed;
}
