<div class="avatar-creator">
  <h2>Création d'Avatar</h2>

  <div class="avatar-preview">
    <app-avatar-view
      [head]="selectedParts.head"
      [hat]="selectedParts.hat"
      [body]="selectedParts.body"
      [back]="selectedParts.back">
    </app-avatar-view>
  </div>

  <div class="selection-panel">
    <div class="selection">
      <h4>Choix du chapeau</h4>

      <div class="tabs">
        <button (click)="selectPart('hat', '')" [class.selected]="!selectedParts.hat">
          <img [src]="'assets/avatars/no-elem.png'" />
        </button>

        <!-- Autres catégories -->
        <button *ngFor="let category of categories.hats"
                (click)="filterParts('hats', category)"
                [class.active]="selectedCategories.hats === category">
          {{ category }}
        </button>
      </div>

      <div class="options">
        <img *ngFor="let hat of filteredParts.hats"
             [src]="hat.src"
             (click)="selectPart('hat', hat.src)"
             [class.selected]="hat.src === selectedParts.hat"
             role="button"
             alt="Option chapeau"
        />
      </div>
    </div>

    <!-- Pour les backs -->
    <div class="selection">
      <h4>Choix de l'élément supplémentaire</h4>

      <div class="tabs">
        <button (click)="selectPart('back', '')" [class.selected]="!selectedParts.back">
          <img [src]="'assets/avatars/no-elem.png'"  />
        </button>

        <!-- Autres catégories -->
        <button *ngFor="let category of categories.backs"
                (click)="filterParts('backs', category)"
                [class.active]="selectedCategories.backs === category">
          {{ category }}
        </button>
      </div>

      <div class="options">
        <img *ngFor="let back of filteredParts.backs"
             [src]="back.src"
             (click)="selectPart('back', back.src)"
             [class.selected]="back.src === selectedParts.back"
             role="button"
             alt="Option dos"
        />
      </div>
    </div>
  </div>
  <div class="ligne-centree save-avatar">
    <button (click)="saveAvatar()">Sauvegarder mon avatar</button>
  </div>
</div>
