.avatar-creator h2 {
  text-align: center;
  color:#8C1C13;
  font-family: Arial, sans-serif;
}

.avatar-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.selection-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.selection {
  text-align: center;
}

.options {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.options img {
  width: 70px;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.options img.selected {
  border-color: #3498db;
}
