<div class="background">
  <div class="container">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" [(ngModel)]="user.pseudo" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required autocomplete="off">
      </div>
      <button type="submit">Créer le compte</button>
    </form>
  </div>

  <div class="container">
    <h2>Modifier le mot de passe</h2>
    <form (ngSubmit)="onChangePassword()">
      <div class="form-group">
        <label for="selectedUser">Utilisateur à modifier</label>
        <select id="selectedUser" name="selectedUser" [(ngModel)]="selectedUserName">
          <option *ngFor="let pseudo of pseudosUtilisateurs" [value]="pseudo">{{ pseudo }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required autocomplete="off">
      </div>
      <button type="submit">Modifier le mot de passe</button>
    </form>
  </div>

  <div class="container">
    <h2>Réinitialiser un utilisateur</h2>
    <form (ngSubmit)="onReinitUser()">
      <div class="form-group">
        <label for="selectedUserReinit">Utilisateur à réinitialiser</label>
        <select id="selectedUserReinit" name="selectedUser" [(ngModel)]="selectedUserNameReinit">
          <option *ngFor="let pseudo of pseudosUtilisateurs" [value]="pseudo">{{ pseudo }}</option>
        </select>
      </div>
      <button type="submit">Réinitialiser</button>
    </form>
  </div>
</div>
