<div class="container">
  <div class="ligne-centree text-center margin-bot"><h2>Tournois et ligues</h2></div>
  <div class="ligne-centree text-center margin-bot">Il existe deux types de compétitions jouable dans les Pampa Cards, les tournois et les ligues. Un tournoi est composé d'un nombre pair de joueurs qui vont s'affronter dans des duels éliminatoires.</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/tournoi1.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Le premier round d'un tournoi</div>

  <div class="ligne-centree text-center margin-bot">Lorsque tous les affrontements d'un round sont terminés, les joueurs gagnants sont répartis dans de nouveaux affrontements du round suivant, jusqu'à avoir un vainqueur en finale.</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/tournoi2.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Après avoir gagné leur premier tour, Pampa et Victy se rencontrent en finale</div>

  <div class="ligne-centree text-center margin-bot">Une ligue peut être jouée avec n'importe quel nombre de joueurs. Le principe est simple : vous affronterez chacun des autres joueurs et un classement sera établi selon vos victoires / défaites.</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/ligue1.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Tableau de ligue avant les premiers combats</div>

  <div class="ligne-centree text-center margin-bot">En cas de nombre de joueur impair, vous n'aurez pas d'affrontement lors de certains tours. Dans l'exemple ci-dessus, Pampa n'a pas d'affrontement ce tour. Il aura des affrontements aux tours suivants.</div>
  <div class="ligne-centree text-center margin-bot">Le classement se met à jour en direct pour informer tous les joueurs de l'avancée de chaque tour.</div>

  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/ligue2.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Le classement au milieu d'un tour. Un affrontement est terminé, un autre est encore en cours.</div>

  <div class="ligne-centree text-center margin-bot">Lorsque chaque joueur a affronté les autres, la ligue est terminée et le classement est définitif !</div>

  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/ligue3.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Fin de ligue</div>

  <div class="ligne-centree text-center margin-bot"><h3>Rejoindre un tournoi / une ligue</h3></div>

  <div class="ligne-centree text-center margin-bot">Pour voir les compétitions et leurs états, dirigez vous vers l'onglet "Tournois" du menu.</div>

  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/inscrip1.png" alt="Image du tuto"></div>

  <div class="ligne-centree text-center margin-bot">Les status des tournois et ligues sont : </div>
  <div class="ligne-centree text-center margin-bot">- A venir : compétition annoncée mais pas encore d'inscription possible</div>
  <div class="ligne-centree text-center margin-bot">- Inscriptions ouvertes : vous pouvez vous inscrire en sélectionnant les decks à enregistrer pour cette compétition</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/inscrip2.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot">- Inscriptions fermées : plus possible de s'inscrire</div>
  <div class="ligne-centree text-center margin-bot">- En attente : la compétition est en train de se lancer</div>
  <div class="ligne-centree text-center margin-bot">- En cours : la compétition est en cours, vous pouvez voir le détail dans Vos tournois / Vos ligues si vous êtes inscrit</div>
  <div class="ligne-centree text-center margin-bot">- Terminé : la compétition est finie. Vous pouvez toujours voir le détail / classement dans Vos tournois / Vos ligues</div>

  <div class="ligne-centree text-center margin-bot">Tant qu'une compétition est en inscription ouverte, vous pouvez vous désinscrire en cliquant simplement sur le bouton "Quitter"</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/inscrip3.png" alt="Image du tuto"></div>

  <div class="ligne-centree text-center margin-bot"><h3>Formats des affrontements</h3></div>

  <div class="ligne-centree text-center margin-bot">Les affrontements en tournois et ligues peuvent être en :</div>
  <div class="ligne-centree text-center margin-bot">- Bo1 : une seule partie</div>
  <div class="ligne-centree text-center margin-bot">- Bo3, deck unique : un Best of Three joué avec un seul deck</div>
  <div class="ligne-centree text-center margin-bot">- Bo3, trois decks : un Bo3 dans lequel on sélectionne à chaque partie un des trois decks enregistrés pour la compétition</div>
  <div class="ligne-centree text-center margin-bot">- Bo3, trois decks Survivor : comme le précédent, mais le vainqueur d'une partie doit garder le même deck pour la partie suivante (sauf si changement d'adversaire)</div>
  <div class="ligne-centree text-center margin-bot">- Kill Them All : Trois decks enregistrés. Si on gagne une partie, on élimine le deck joué par l'adversaire pour cet affrontement. Il faut éliminer tous les decks adverses.</div>
  <div class="ligne-centree text-center margin-bot">- Kill Them All Survivor : Idem mais avec la règle du Survivor : on garde le deck gagnant pour la prochaine partie (sauf si changement d'adversaire)</div>

  <div class="ligne-centree text-center margin-bot"><h3>Départage en cas d'égalités</h3></div>

  <div class="ligne-centree text-center margin-bot">Dans une ligue, un affrontement peut simplement se terminer par une égalité. On ajoutera 0.5 victoire et 0.5 défaite dans le classement pour chacun.</div>
  <div class="ligne-centree text-center margin-bot">Pour les tournois, si un affrontement se termine avec un score global menant à une égalité, voici le détail de départage entre les joueurs : </div>

  <div class="ligne-centree text-center margin-bot">On compare d’abord les scores des parties de l'affrontement qui vient d’être joué. Si par exemple Pampa remporte la première partie 20 contre 15, Victy remporte la deuxième partie 18 contre 15 et la troisième partie se termine par une égalité, c'est Pampa qui l'emportera car la somme de ces scores est supérieure à celle de Victy.</div>
  <div class="ligne-centree text-center margin-bot">Sinon</div>
  <div class="ligne-centree text-center margin-bot">Si les deux joueurs sont en égalité parfaite de somme de scores pour les parties de l'affrontement en cours : </div>
  <div class="ligne-centree text-center margin-bot">On regarde les tours précédents du tournoi s'il y en a. On calcul la somme des différences de score entre joueur et adversaire sur les tours précédents. Si un joueur a eu au total un plus grand écart de score sur les tours précédents en sa faveur, il l'emporte.</div>
  <div class="ligne-centree text-center margin-bot">Sinon</div>
  <div class="ligne-centree text-center margin-bot">C’est le deuxième joueur de la dernière partie qui l'emporte (le joueur 1 étant considéré comme ayant un léger avantage).</div>
</div>
