.chat-container {
  height: 100%;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  word-wrap: break-word;
}

.chat-messages {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
}

.content {
  margin-left: 5px;
}

.mat-icon {
  font-size: 16px;
  height: 16px;
}

@media (min-height: 850px) {
  .chat-container {
    font-size: 14px;
  }
}

@media (max-height: 850px) {
  .chat-container {
    font-size: 13px;
  }
}
