<p-messages [(value)]="error" [enableService]="false"></p-messages>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="segment">
    <h1>Pampa Cards</h1>
  </div>

  <label>
    <input placeholder="Pseudo" class="input" id="username" name="username" type="text" [(ngModel)]="username" required>
  </label>
  <label>
    <input placeholder="Mot de passe" class="input" id="password" name="password" type="password" [(ngModel)]="password" required>
  </label>
  <app-pampa-submit-button [texte]="'Connexion'"></app-pampa-submit-button>
</form>
