<nav>
  <ul>
    <li>
      <a class="button" routerLink="/accueil" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Accueil</a>
    </li>
    <li>
      <a class="button" routerLink="/collection" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Ma collection</a>
    </li>
    <li>
      <a class="button" routerLink="/deckbuilder" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Deckbuilder</a>
    </li>
    <li>
      <a class="button" routerLink="/infos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Infos</a>
      <ul class="submenu">
        <li>
          <a routerLink="/infos/deck-base-details" class="sous-menu">
            <span class="center">
              Decks de base
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/infos/boosters-details" class="sous-menu">
            <span class="center">
              Boosters
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="button" routerLink="/recherche-combat" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Arêne</a>
    </li>
    <li>
      <a class="button" routerLink="/tournois" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tournois</a>
    </li>
    <!--
    <a class="button" routerLink="/classements" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Classements</a>
    -->
    <li>
      <a class="button" routerLink="/mon-compte" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Mon compte</a>
    </li>
    <li>
      <a class="button" *ngIf="isAdmin()" routerLink="/administration" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Administration</a>
    </li>
    <li>
      <a class="button" routerLink="/deconnexion" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="logOut()">Déconnexion</a>
    </li>
  </ul>
</nav>
