<nav class="sticky-menu">
  <ul>
    <li>
      <a class="button" routerLink="/accueil" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Accueil</a>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/collection" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Ma collection</a>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/deckbuilder" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Deckbuilder</a>
    </li>
    <li>
      <a class="button" routerLink="/tutoriel" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tutoriel</a>
      <ul class="submenu">
        <li>
          <a routerLink="/tutoriel/debuter" class="sous-menu">
            <span class="center">
              Premiers pas
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/tutoriel/jouer" class="sous-menu">
            <span class="center">
              Règles du jeu
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/tutoriel/details-statuts" class="sous-menu">
            <span class="center">
              Statuts
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="button" routerLink="/infos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Infos</a>
      <ul class="submenu">
        <li>
          <a routerLink="/infos/deck-base-details" class="sous-menu">
            <span class="center">
              Decks de base
            </span>
          </a>
        </li>
        <li>
          <a routerLink="/infos/boosters-details" class="sous-menu">
            <span class="center">
              Boosters
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/recherche-combat" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Arêne</a>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/tournois" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tournois</a>
    </li>
    <!--
    <a class="button" routerLink="/classements" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Classements</a>
    -->
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/mon-compte" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Mon compte</a>
    </li>
    <li *ngIf="isAdmin()">
      <a class="button" routerLink="/administration" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Administration</a>
    </li>
    <li *ngIf="!(authService.isLoggedIn$ | async)">
      <a class="button" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Connexion</a>
    </li>
    <li *ngIf="authService.isLoggedIn$ | async">
      <a class="button" routerLink="/deconnexion" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="logOut()">Déconnexion</a>
    </li>
  </ul>
</nav>
