<nav>
  <ul>
    <a class="button" routerLink="/accueil" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Accueil</a>
    <a class="button" routerLink="/collection" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Ma collection</a>
    <a class="button" routerLink="/deckbuilder" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Deckbuilder</a>
    <a class="button" routerLink="/recherche-combat" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Trouver un adversaire</a>
    <a class="button" *ngIf="isAdmin()" routerLink="/administration" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Administration</a>
    <!--
    <a class="button" routerLink="/boutique" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Boutique</a>
    <a class="button" routerLink="/tournois" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Tournois</a>
    <a class="button" routerLink="/classements" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Classements</a>
    <a class="button" routerLink="/mon-compte" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Mon compte</a>
    -->
    <a class="button" routerLink="/deconnexion" routerLinkActive="activebutton" ariaCurrentWhenActive="page" (click)="logOut()">Déconnexion</a>
  </ul>
</nav>
