@media (min-height: 850px) {
  .screen {
    height: calc(100vh - 40px);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
    color: white;
    display: grid;
    grid-template-columns: 10% 13% auto 13% 10% 13%;
    grid-template-rows: 11% 4% 26% 26% 4% 29%;
    grid-template-areas: "empty infos-adv main-adv infos-tours infos-tours bandeau-chat"
  "deck-adv puissance-adv main-adv main-empty2 empty2 bandeau-chat"
  "deck-adv terrain-adv terrain-adv terrain-adv defausse-adv bandeau-chat"
"deck-joueur terrain-joueur terrain-joueur terrain-joueur defausse-joueur bandeau-chat"
  "deck-joueur empty3 empty3 puissance-joueur actions bandeau-chat"
"empty4 main-joueur main-joueur infos-joueur actions bandeau-chat";
    grid-gap: 0;
  }
}

@media (max-height: 850px) {
  .screen {
    height: calc(100vh - 40px);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
    color: white;
    display: grid;
    grid-template-columns: 8% 17% auto 17% 10% 13%;
    grid-template-rows: 11% 4% 26% 26% 4% 3% 26%;
    grid-template-areas: "empty infos-adv main-adv infos-tours infos-tours bandeau-chat"
  "deck-adv puissance-adv main-adv main-empty2 empty2 bandeau-chat"
  "deck-adv terrain-adv terrain-adv terrain-adv defausse-adv bandeau-chat"
"deck-joueur terrain-joueur terrain-joueur terrain-joueur defausse-joueur bandeau-chat"
  "deck-joueur empty3 empty3 puissance-joueur empty5 bandeau-chat"
    "empty4 main-joueur main-joueur infos-joueur empty5 bandeau-chat"
"empty4 main-joueur main-joueur actions empty5 bandeau-chat";
    grid-gap: 0;
  }
}

.infos-adv {
  grid-area: infos-adv;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.main-adv {
  grid-area: main-adv;
}

.infos-tours {
  grid-area: infos-tours;
}

.bandeau-chat {
  grid-area: bandeau-chat;
}

.deck-adv {
  grid-area: deck-adv;
}

.deck-joueur {
  grid-area: deck-joueur;
}

.defausse-adv {
  grid-area: defausse-adv;
}

.puissance {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.puissance-adv {
  grid-area: puissance-adv;
  border-radius: 10px 10px 0 0;
  border: solid;
  border-width: 10px 10px 0 10px;
}

.puissance-joueur {
  grid-area: puissance-joueur;
  justify-self: end;
  border-radius: 0 0 10px 10px;
  border: solid;
  border-width: 0 10px 10px 10px;
}

.terrain {
  overflow-x: auto;
  border-radius: 0 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 10px solid;
}

.terrain-adv {
  grid-area: terrain-adv;
}

.terrain-joueur {
  grid-area: terrain-joueur;
}

.defausse-joueur {
  grid-area: defausse-joueur;
}

.infos-joueur {
  grid-area: infos-joueur;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.main-joueur {
  grid-area: main-joueur;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terrain-adv-premier {
  background-color: rgb(64, 110, 142, 0.5);
  border-color: rgb(64, 110, 142, 0.7);
}

.terrain-adv-autre {
  background-color: rgb(227, 79, 86, 0.5);
  border-color: rgb(227, 79, 86, 0.7);
}

.terrain-adv-premier-dark {
  background-color: rgb(64, 110, 142,0.1);
  border-color: rgb(64, 110, 142, 0.3);
}

.terrain-adv-autre-dark {
  background-color: rgb(227, 79, 86, 0.1);
  border-color: rgb(227, 79, 86, 0.3);
}

.terrain-joueur-premier {
  background-color: rgb(64, 110, 142, 0.5);
  border-color: rgb(64, 110, 142, 0.7);
}

.terrain-joueur-autre {
  background-color: rgb(227, 79, 86, 0.5);
  border-color: rgb(227, 79, 86, 0.7);
}

.terrain-joueur-premier-dark {
  background-color: rgb(64, 110, 142, 0.1);
  border-color: rgb(64, 110, 142, 0.3);
}

.terrain-joueur-autre-dark {
  background-color: rgb(227, 79, 86, 0.1);
  border-color: rgb(227, 79, 86, 0.3);
}

.card-container {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.flash-animation {
  animation: pulsate 1s ease 2;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
