<div class="defis-list">
  <div *ngFor="let defi of defis" class="defi-card">
    <div class="container" [ngClass]="{'reward-container': defi.reussi, 'shadow-reward-container': !defi.reussi}">
      <h4>{{ defi.titre }}</h4>
      <img [src]="defi.elementCode" class="reward-image" />
      <div>{{ defi.description }}</div>

      <div class="progress-text">
        {{ defi.progression }} / {{ defi.objectif }}
      </div>

      <div class="progress-container">
        <div class="progress-bar" [style.width.%]="(defi.progression / defi.objectif) * 100"></div>
      </div>

      <span *ngIf="defi.reussi" class="status-icon success">✔</span>
    </div>
  </div>
</div>
