<div class="limitation-container" *ngIf="this.selectedFormat">
  <div class="center restrictions-title">Restrictions du format</div>
  <div class="restrictions-list">
    <ng-container *ngIf="this.selectedFormat.limitationCartes.length > 0; else noLimitation">
      <div class="restriction-item" *ngFor="let limitationCarte of this.selectedFormat.limitationCartes">
        <div class="card-name">{{limitationCarte.carte.nom}}</div>
        <div class="card-limit">Limitation : {{limitationCarte.limite}}</div>
      </div>
      <div class="restriction-item">
        <div class="card-name">Autres cartes</div>
        <div class="card-limit">Limitation : 3</div>
      </div>
    </ng-container>
    <ng-template #noLimitation>
      <div class="no-limitation">Aucune limitation</div>
    </ng-template>

    <div class="restriction-item" *ngIf="this.selectedFormat && this.selectedFormat.nom == 'MONO'">
      <div class="card-name gold">Toutes vos cartes doivent avoir un même clan ou type en commun</div>
    </div>

    <div class="restriction-item" *ngIf="this.selectedFormat && this.selectedFormat.nom == '44'">
      <div class="card-name gold">La somme des étoiles des cartes de votre deck doit être <= 44</div>
    </div>
  </div>
</div>
