.screen {
  height: calc(100vh - 40px);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  color: white;
  display: grid;
  grid-template-columns: 10% auto 10% 15%;
  grid-template-rows: 17% 26% 26% 31%;
  grid-template-areas: "infos-adv main-adv infos-tours bandeau-chat"
"deck-adv terrain-adv defausse-adv bandeau-chat"
"deck-joueur terrain-joueur defausse-joueur bandeau-chat"
"infos-joueur main-joueur actions bandeau-chat";
  grid-gap: 0;
}

.infos-adv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-adv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infos-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bandeau-chat {
  grid-area: bandeau-chat;
}

.deck-adv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.defausse-adv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.deck-joueur {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terrain-joueur {
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terrain-adv {
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terrain-adv-premier {
  background-color: rgb(64, 110, 142, 0.5);
  border: 10px solid rgb(64, 110, 142, 0.7);
}

.terrain-adv-autre {
  background-color: rgb(227, 79, 86, 0.5);
  border: 10px solid rgb(227, 79, 86, 0.7);
}

.terrain-adv-premier-dark {
  background-color: rgb(64, 110, 142,0.1);
  border: 10px solid rgb(64, 110, 142, 0.3);
}

.terrain-adv-autre-dark {
  background-color: rgb(227, 79, 86, 0.1);
  border: 10px solid rgb(227, 79, 86, 0.3);
}

.terrain-joueur-premier {
  background-color: rgb(64, 110, 142, 0.5);
  border: 10px solid rgb(64, 110, 142, 0.7);
}

.terrain-joueur-autre {
  background-color: rgb(227, 79, 86, 0.5);
  border: 10px solid rgb(227, 79, 86, 0.7);
}

.terrain-joueur-premier-dark {
  background-color: rgb(64, 110, 142, 0.1);
  border: 10px solid rgb(64, 110, 142, 0.3);
}

.terrain-joueur-autre-dark {
  background-color: rgb(227, 79, 86, 0.1);
  border: 10px solid rgb(227, 79, 86, 0.3);
}

.defausse-joueur {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infos-joueur {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-joueur {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.player-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-align: center;
  width: 95%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.card-container {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.card-visualiser {
  margin-top: auto;
}

.card-visualiser img {
  max-width: 95%;
}
