<div class="screen">
  <div *ngIf="partieDatas.adversaire" class="infos-adv">
    {{partieDatas.adversaire.nom}}
  </div>
  <div class="center main-adv">
    <div *ngIf="partieDatas.adversaire" class="ligne-centree height-total">
      <span *ngFor="let carte of partieDatas.adversaire.main">
        <app-carte-main-adv [carte]="carte"></app-carte-main-adv>
      </span>
    </div>
  </div>
  <div *ngIf="partieDatas.lastEvent" class="center infos-tours">
    <app-pampa-tour-animation [tour]="partieDatas.lastEvent ? partieDatas.lastEvent.tour : 0"></app-pampa-tour-animation>
    <div class="margin-left-30">Tour : {{getTourAffiche()}}</div>
  </div>
  <div *ngIf="partieDatas.joueur" class="bandeau-chat">
    <app-tchat [partieId]="partieId"></app-tchat>
  </div>
  <div class="center deck-adv">
    <div *ngIf="partieDatas.adversaire" class="deck-container">
      <div class="margin-bot">Deck : {{partieDatas.adversaire.deck.length}}</div>
      <div class="card-container" *ngIf="partieDatas.adversaire.deck.length > 0">
        <app-carte-main-adv></app-carte-main-adv>
      </div>
    </div>
  </div>
  <div [class]="getAdvColorClass()" class="ligne-centree terrain terrain-adv">
    <div *ngIf="partieDatas.adversaire" class="ligne-centree">
      <div *ngFor="let carte of partieDatas.adversaire.terrain">
        <app-carte-terrain [carte]="carte"></app-carte-terrain>
      </div>
    </div>
  </div>
  <div class="center defausse-adv">
    <div *ngIf="partieDatas.adversaire" class="deck-container">
      <div>
        <div class="margin-bot">Défausse : {{partieDatas.adversaire.defausse.length}}</div>
      </div>
      <div class="card-container" *ngIf="partieDatas.adversaire.defausse.length > 0">
        <app-defausse [cartes]="partieDatas.adversaire.defausse" (click)="voirDefausse(partieDatas.adversaire.defausse)"></app-defausse>
      </div>
    </div>
  </div>
  <div *ngIf="partieDatas.adversaire" [class]="getAdvColorClass()" class="puissance puissance-adv">
    Puissance totale : {{partieDatas.adversaire.score}}
  </div>
  <div class="center deck-joueur">
    <div *ngIf="partieDatas.joueur" class="deck-container">
      <div class="margin-bot">Deck : {{partieDatas.joueur.deck.length}}</div>
      <div class="card-container" *ngIf="partieDatas.joueur.deck.length > 0">
        <app-carte-main-adv></app-carte-main-adv>
      </div>
    </div>
  </div>
  <div  *ngIf="partieDatas.lastEvent" [class]="getJoueurColorClass()"  [ngClass]="{'flash-animation': isFlashing && partieDatas.lastEvent.status === 'NOUVEAU_TOUR'}" class="ligne-centree terrain terrain-joueur">
    <div *ngIf="partieDatas.joueur" class="ligne-centree">
      <div *ngFor="let carte of partieDatas.joueur.terrain">
        <app-carte-terrain [carte]="carte" [estJoueurActif]="estJoueurActif()" (clickedCarte)="clickedCarte($event)"></app-carte-terrain>
      </div>
    </div>
  </div>
  <div class="center defausse-joueur">
    <div *ngIf="partieDatas.joueur" class="deck-container">
      <div>
        <div class="margin-bot">Défausse : {{partieDatas.joueur.defausse.length}}</div>
      </div>
      <div class="card-container" *ngIf="partieDatas.joueur.defausse.length > 0">
        <app-defausse [cartes]="partieDatas.joueur.defausse" (click)="voirDefausse(partieDatas.joueur.defausse)"></app-defausse>
      </div>
    </div>
  </div>
  <div *ngIf="partieDatas.joueur" [class]="getJoueurColorClass()" class="puissance puissance-joueur">
    Puissance totale : {{partieDatas.joueur.score}}
  </div>
  <div *ngIf="partieDatas.joueur" class="infos-joueur">
    {{partieDatas.joueur.nom}}
  </div>
  <div class="center main-joueur">
    <div *ngIf="partieDatas.joueur && !enAttente" class="ligne-centree">
      <div *ngFor="let carte of partieDatas.joueur.main; let i = index">
        <app-carte-main (jouer)="onJouerCarte($event)" (defausser)="onDefausserCarte($event)" [carte]="carte"
                        [estJoueurActif]="estJoueurActif()" [carteJouee]="carteJouee()"
                        [carteDefaussee]="carteDefaussee()" (clickedCarte)="clickedCarte($event)"
                        [index]="i"></app-carte-main>
      </div>
      <div *ngIf="enAttente">En attente de votre adversaire</div>
    </div>
  </div>
  <div class="actions">
    <div class="colonne-centree">
      <div class="ligne-centree" *ngIf="partieDatas.finDePartie">
        Fin de la partie
      </div>
      <div class="ligne-centree" *ngIf="partieDatas.finDePartie">
        {{getVainqueurTexte()}}
      </div>
    </div>
    <div *ngIf=" estJoueurActif() && !partieDatas.finDePartie">
      <app-pampa-button [texte]="'Fin de tour'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="finDeTour()"></app-pampa-button>
    </div>
    <div class="ligne-centree" *ngIf="!partieDatas.finDePartie">
      <app-pampa-button [texte]="'Abandonner'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="confirmAbandon()"></app-pampa-button>
    </div>
  </div>
</div>
