<div class="screen">
  <div *ngIf="adversaire" class="infos-adv">
    {{adversaire.nom}}
  </div>
  <div class="center main-adv">
    <div *ngIf="adversaire" class="ligne-centree height-total">
      <span *ngFor="let carte of adversaire.main">
        <app-carte-main-adv [carte]="carte"></app-carte-main-adv>
      </span>
    </div>
  </div>
  <div *ngIf="lastEvent" class="center infos-tours">
    <app-pampa-tour-animation [tour]="lastEvent ? lastEvent.tour : 0"></app-pampa-tour-animation>
    <div class="margin-left-30">Tour : {{getTourAffiche()}}</div>
  </div>
  <div class="bandeau-chat">
    <app-tchat [partieId]="partieId" [joueur]="joueur"></app-tchat>
  </div>
  <div class="center deck-adv">
    <div *ngIf="adversaire" class="deck-container">
      <div class="margin-bot">Deck : {{adversaire.deck.length}}</div>
      <div class="card-container" *ngIf="adversaire.deck.length > 0">
        <app-carte-main-adv></app-carte-main-adv>
      </div>
    </div>
  </div>
  <div [class]="getAdvColorClass()" class="center terrain terrain-adv">
    <div *ngIf="adversaire" class="ligne-centree">
      <div *ngFor="let carte of adversaire.terrain">
        <app-carte-terrain [carte]="carte"></app-carte-terrain>
      </div>
    </div>
  </div>
  <div class="center defausse-adv">
    <div *ngIf="adversaire" class="deck-container">
      <div>
        <div class="margin-bot">Défausse : {{adversaire.defausse.length}}</div>
      </div>
      <div class="card-container" *ngIf="adversaire.defausse.length > 0">
        <app-defausse [cartes]="this.adversaire.defausse" (click)="voirDefausse(this.adversaire.defausse)"></app-defausse>
      </div>
    </div>
  </div>
  <div *ngIf="adversaire" [class]="getAdvColorClass()" class="puissance puissance-adv">
    Puissance totale : {{adversaire.score}}
  </div>
  <div class="center deck-joueur">
    <div *ngIf="joueur" class="deck-container">
      <div class="margin-bot">Deck : {{joueur.deck.length}}</div>
      <div class="card-container" *ngIf="joueur.deck.length > 0">
        <app-carte-main-adv></app-carte-main-adv>
      </div>
    </div>
  </div>
  <div  *ngIf="lastEvent" [class]="getJoueurColorClass()"  [ngClass]="{'flash-animation': isFlashing && this.lastEvent.status === 'NOUVEAU_TOUR'}" class="center terrain terrain-joueur">
    <div *ngIf="joueur" class="ligne-centree">
      <div *ngFor="let carte of joueur.terrain">
        <app-carte-terrain [carte]="carte" [estJoueurActif]="estJoueurActif" (clickedCarte)="clickedCarte($event)"></app-carte-terrain>
      </div>
    </div>
  </div>
  <div class="center defausse-joueur">
    <div *ngIf="joueur" class="deck-container">
      <div>
        <div class="margin-bot">Défausse : {{joueur.defausse.length}}</div>
      </div>
      <div class="card-container" *ngIf="joueur.defausse.length > 0">
        <app-defausse [cartes]="this.joueur.defausse" (click)="voirDefausse(this.joueur.defausse)"></app-defausse>
      </div>
    </div>
  </div>
  <div *ngIf="joueur" [class]="getJoueurColorClass()" class="puissance puissance-joueur">
    Puissance totale : {{joueur.score}}
  </div>
  <div *ngIf="joueur" class="infos-joueur">
    {{joueur.nom}}
  </div>
  <div class="center main-joueur">
    <div *ngIf="joueur" class="ligne-centree">
      <div *ngFor="let carte of joueur.main; let i = index">
        <app-carte-main (jouer)="onJouerCarte($event)" (defausser)="onDefausserCarte($event)" [carte]="carte"
                        [estJoueurActif]="estJoueurActif" [carteJouee]="carteJouee"
                        [carteDefaussee]="carteDefaussee" (clickedCarte)="clickedCarte($event)"
                        [index]="i"></app-carte-main>
      </div>

    </div>
  </div>
  <div class="actions">
    <div class="ligne-centree" *ngIf="finDePartie">
      <div>
        Fin de la partie
      </div>
      {{getVainqueurTexte()}}
    </div>
    <div *ngIf=" estJoueurActif && !finDePartie">
      <app-pampa-button [texte]="'Fin de tour'" [couleur]="'bleu'" [taille]="'trespetit'" (clickBouton)="finDeTour()"></app-pampa-button>
    </div>
    <div class="ligne-centree" *ngIf="!finDePartie">
      <app-pampa-button [texte]="'Abandonner'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="confirmAbandon()"></app-pampa-button>
    </div>
  </div>
</div>
