<div class="background">
  <div class="container">
    <div class="ligne-centree"><h3>Supprimer les données des parties</h3></div>
    <div class="ligne-centree"><app-pampa-submit-button [texte]="'Supprimer'" [couleur]="'vert'" [taille]="'trespetit'" (click)="supprimerParties()"></app-pampa-submit-button></div>
  </div>
  <div class="container">
    <div class="ligne-centree"><h3>Supprimer les données de tchat de parties</h3></div>
    <div class="ligne-centree"><app-pampa-submit-button [texte]="'Supprimer'" [couleur]="'vert'" [taille]="'trespetit'" (click)="supprimerTchatParties()"></app-pampa-submit-button></div>
  </div>
  <div class="container">
    <div class="ligne-centree"><h3>Update properties</h3></div>
    <div class="ligne-centree"><app-pampa-submit-button [texte]="'Update'" [couleur]="'vert'" [taille]="'trespetit'" (click)="updateProperties()"></app-pampa-submit-button></div>
  </div>
</div>
