.background {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
}

.container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
