<div class="background">
  <div class="container">
    <div class="parties-en-cours">
      <h1>Parties en cours</h1>
      <table>
        <tr>
          <th>ID de la Partie</th>
          <th>Nom du Joueur 1</th>
          <th>Nom du Joueur 2</th>
        </tr>
        <tr *ngFor="let partie of partiesEnCours">
          <td>{{ partie.id }}</td>
          <td>{{ partie.joueurUn?.pseudo }}</td>
          <td>{{ partie.joueurDeux?.pseudo }}</td>
          <td><app-pampa-button [texte]="'Voir'" [couleur]="'bleu'" [taille]="'mini'" (clickBouton)="observerPartie(partie.id)"></app-pampa-button></td>
        </tr>
      </table>
    </div>
    <div class="parties-terminees">
      <h1>Parties terminées</h1>
      <table>
        <tr>
          <th>ID de la Partie</th>
          <th>Vainqueur</th>
          <th>Joueur un</th>
          <th>Score</th>
          <th>Deck</th>
          <th>Joueur deux</th>
          <th>Score</th>
          <th>Deck</th>
        </tr>
        <tr *ngFor="let resultat of resultatsParties">
          <td>{{ resultat.partieId }}</td>
          <td>{{ resultat.vainqueur }}</td>
          <td>{{ resultat.pseudoJoueurUn }}</td>
          <td>{{ resultat.scoreJoueurUn }}</td>
          <td>{{ resultat.nomDeckJoueurUn }}</td>
          <td>{{ resultat.pseudoJoueurDeux }}</td>
          <td>{{ resultat.scoreJoueurDeux }}</td>
          <td>{{ resultat.nomDeckJoueurDeux }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
