<div class="container">
  <div class="ligne-centree text-center margin-bot"><h2>Par où commencer ?</h2></div>
  <div class="ligne-centree text-center margin-bot">Pour commencer à jouer aux Pampa Cards, vous devrez avoir un compte. Pour le moment, il n'existe pas de création automatique de compte. Pour avoir un compte, contactez DarkPampa sur un de ses réseaux.</div>
  <div class="ligne-centree text-center margin-bot">Une fois votre compte créé, vous pourrez avec les points de chaine de la chaine Twitch DarkPampa, lorsque je suis en stream, récupérer la récompense "Deck de départ"</div>
  <div class="ligne-centree text-center margin-bot">Attention, vous n'aurez le droit qu'à un seul deck de départ. Prenez le temps de bien le choisir ! La liste et le détail des decks de départ est disponible <a [routerLink]="['/infos/boosters-details']"> ici</a></div>
  <div class="ligne-centree text-center margin-bot">Pour obtenir plus de cartes, il faudra venir pendant mes streams récupérer des boosters grâce à vos points de chaine. La liste et le détail des boosters est disponible <a [routerLink]="['/infos/']"> ici</a></div>
  <div class="ligne-centree text-center margin-bot">Si vous souhaitez apprendre les règles du jeu, allez voir la section <a [routerLink]="['/infos/']">Règles du jeu</a></div>
</div>
