body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  background-repeat: repeat-y;
}

.app-background {
  height:100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  background-repeat: repeat-y;
  color: white;
}

.ligne-centree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-width {
  width: 60%;
}

.colonne-centree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.margin-top {
  margin-top: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bot {
  margin-bottom: 10px;
}

.big-margin-bot {
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}
