body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  background-repeat: repeat-y;
}

.app-background {
  height:100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  background-repeat: repeat-y;
  color: white;
  overflow-y: auto;
}

.sticky-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.ligne-centree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.main-width {
  width: 60%;
}

.colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.colonne-centree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.margin-top {
  margin-top: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bot {
  margin-bottom: 10px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-bot-50 {
  margin-bottom: 50px;
}

.padding-top {
  padding-top: 10px;
}

.padding-2 {
  padding: 2px;
}


.text-center {
  text-align: center;
}

.width-total {
  width: 100%;
}

.height-total {
  height: 100%;
}

.text-red {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-header {
  display: none;
}

@media (min-height: 850px) {
  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding: 5px;
  }

  :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 5px;
  }

  :host ::ng-deep .p-multiselect .p-multiselect-label {
    padding: 5px;
  }

  :host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 5px;
  }

  :host ::ng-deep .p-message .p-message-wrapper {
    padding: 5px;
  }
}

@media (min-height: 600px) and (max-height: 850px) {
  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding: 4px;
    font-size: 13px;
  }

  :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 4px;
    font-size: 13px;
  }

  :host ::ng-deep .p-multiselect .p-multiselect-label {
    padding: 4px;
    font-size: 13px;
  }

  :host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 4px;
    font-size: 13px;
  }

  :host ::ng-deep .p-message .p-message-wrapper {
    padding: 0;
  }
}

@media (max-height: 600px) {
  :host ::ng-deep .p-dropdown .p-dropdown-label {
    padding: 3px;
    font-size: 12px;
  }

  :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 4px;
    font-size: 12px;
  }

  :host ::ng-deep .p-multiselect .p-multiselect-label {
    padding: 3px;
    font-size: 12px;
  }

  :host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    padding: 4px;
    font-size: 12px;
  }

  :host ::ng-deep .p-message .p-message-wrapper {
    padding: 0;
  }
}
