.card-container {
  background-color: #1F1F1F;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 16vw;
}

.card-title {
  display: grid;
  grid-template-columns: 40% 20% repeat(2, 10%) 15%;
  align-items: center;
  width: 100%;
}

.card-details {
  display: none;
  width: 100%;
  padding-left: 10px;
  transition: opacity 0.5s ease-in-out;
}

.card-container:hover {
  background-color: #292929;
}

.card-container:hover .card-details {
  display: block;
  opacity: 1;
}

@media (min-width: 1000px) {
  .nom {
    font-size: 16px;
  }

  .mat-icon {
    font-size: 24px;
    height: 24px;
  }

  .icone img {
    height: 16px;
  }

  .card-details {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .nom {
    font-size: 13px;
  }

  .mat-icon {
    font-size: 20px;
    height: 20px;
  }

  .icone img {
    height: 13px;
  }

  .card-details {
    font-size: 13px;
  }
}

.stars {
  font-size: 20px;
  text-align: center;
}

.remove-button {
  color: white;
  background-color: #B42318;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
}

.icon {
  background-color: #141414;
  color: #B42318;
}

.icon:hover {
  color: red;
}
