.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #8C1C13;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
  width: 100%;
}

.card-details {
  display: none;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.card-container:hover .card-details {
  display: block;
  opacity: 1;
}

.remove-button {
  color: white;
  background-color: #B42318;
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
}
