.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

form {
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

select option[disabled] {
  color: #999;
}

.tournoi-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
