
<div class="container">
  <div class="ligne-centree margin-bot-50 margin-top"><h2>Rejoindre une partie</h2></div>

  <div class="ligne-centree">
    <div class="label-champs">
      Nom d'utilisateur :
    </div>
    <div class="cadre-nom">
      <input type="text" pInputText [(ngModel)]="nomJoueur"/>
    </div>
  </div>

  <div class="ligne-centree">
    <div class="label-champs">
      Code de la partie :
    </div>
    <div class="cadre-nom">
      <input type="text" pInputText [(ngModel)]="code"/>
    </div>
  </div>

  <div class="ligne-centree">
    <app-pampa-button [texte]="'Rejoindre'" [couleur]="'bleu'" [taille]="'petit'" (clickBouton)="rejoindre()"></app-pampa-button>
  </div>
</div>
