:host ::ng-deep .p-dropdown-panel .p-dropdown-items {
  overflow: visible;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
  color: white;
}

:host ::ng-deep .p-dialog-content {
  overflow: visible !important;
  padding: 0 !important;
}


:host ::ng-deep .p-dialog .p-dialog-content {
  overflow: visible !important;
  padding: 0 !important;
  background: rgba(2,0,36,1);
  color: white;
}

:host ::ng-deep body > p-dynamicdialog > div > div > div.p-dialog-content {
  overflow: visible !important;
  padding: 0 !important;
}
