<div class="colonne-centree popup-background">
  <div class="ligne-centree margin-bot">
    Format : {{demande.nomFormat}}
  </div>
  <div class="ligne-centree margin-bot" *ngIf="!hasValidDeck">
    Aucun deck valide pour le format proposé
  </div>
  <div class="ligne-centree margin-bot" *ngIf="hasValidDeck">
    <div class="margin-bot margin-right">
      Choisis ton deck pour accepter :
    </div>
    <p-dropdown [options]="decks" [(ngModel)]="selectedDeck" placeholder="Selectionnez un deck" optionLabel="nom"></p-dropdown>
  </div>
  <div class="ligne-centree margin-bot" *ngIf="!demande.firstPlayerId">
    Premier joueur choisit aléatoirement
  </div>
  <div class="ligne-centree margin-bot" *ngIf="demande.firstPlayerId && demande.firstPlayerId == userId">
    Vous jouez en premier
  </div>
  <div class="ligne-centree margin-bot" *ngIf="demande.firstPlayerId && demande.firstPlayerId !== userId">
    Votre adversaire joue en premier
  </div>
  <div class="ligne-centree">
    <div *ngIf="hasValidDeck && selectedDeck">
      <app-pampa-button [texte]="'Accepter'" [couleur]="'vert'" [taille]="'trespetit'" (clickBouton)="accepter()"></app-pampa-button>
    </div>
    <app-pampa-button [texte]="'Refuser'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="refuser()"></app-pampa-button>
  </div>
</div>
