<div class="container">
  <h3>{{demande.joueurUnPseudo}} vous propose un combat !</h3>

  Format : {{demande.nomFormat}}

  <div *ngIf="!demande.firstPlayerId">
    Premier joueur choisit aléatoirement
  </div>

  <div *ngIf="demande.firstPlayerId && demande.firstPlayerId == userId">
    Vous jouez en premier
  </div>

  <div *ngIf="demande.firstPlayerId && demande.firstPlayerId !== userId">
    Votre adversaire joue en premier
  </div>

  <div *ngIf="!hasValidDeck">
    Aucun deck valide pour le format proposé.
  </div>
  <div *ngIf="hasValidDeck">
    <div>
      Veuillez sélectionner votre deck si vous souhaitez accepter.
      <p-dropdown [options]="decks" [(ngModel)]="selectedDeck" placeholder="Selectionnez un deck" optionLabel="nom"></p-dropdown>
    </div>
  </div>
  <br/>

  <div *ngIf="hasValidDeck && selectedDeck">
    <app-pampa-button [texte]="'Accepter'" [couleur]="'marron'" [taille]="'petit'" (clickBouton)="accepter()"></app-pampa-button>
  </div>
  <app-pampa-button [texte]="'Refuser'" [couleur]="'marron'" [taille]="'petit'" (clickBouton)="refuser()"></app-pampa-button>
</div>
