<div>
  Format : {{demande.nomFormat}}
  <div *ngIf="!demande.firstPlayerId">
    Premier joueur choisit aléatoirement
  </div>

  <div *ngIf="demande.firstPlayerId && demande.firstPlayerId == userId">
    Vous jouez en premier
  </div>

  <div *ngIf="demande.firstPlayerId && demande.firstPlayerId !== userId">
    Votre adversaire joue en premier
  </div>

  <div *ngIf="!hasValidDeck">
    Aucun deck valide pour le format proposé.
  </div>
  <div *ngIf="hasValidDeck">
    <div>
      Veuillez sélectionner votre deck si vous souhaitez accepter :
      <p-dropdown [options]="decks" [(ngModel)]="selectedDeck" placeholder="Selectionnez un deck" optionLabel="nom"></p-dropdown>
    </div>
  </div>
  <br/>

  <div class="ligne-centree">
    <div *ngIf="hasValidDeck && selectedDeck">
      <app-pampa-button [texte]="'Accepter'" [couleur]="'vert'" [taille]="'trespetit'" (clickBouton)="accepter()"></app-pampa-button>
    </div>
    <app-pampa-button [texte]="'Refuser'" [couleur]="'rouge'" [taille]="'trespetit'" (clickBouton)="refuser()"></app-pampa-button>
  </div>
</div>
