<div class="background">
  <div class="gestion-utilisateurs-container">
    <h1>Attribution des decks de base</h1>

    <div class="form-group">
      <label for="selectedUser">Utilisateur à modifier</label>
      <select class="selectUser" id="selectedUser" name="selectedUser" [(ngModel)]="selectedUserName">
        <option *ngFor="let pseudo of pseudosUtilisateurs" [value]="pseudo">{{ pseudo }}</option>
      </select>
    </div>

    <div class="button-grid">
      <div *ngFor="let deck of decksDeBase">
        <app-pampa-button-carre [texte]="deck.nom" [couleur]="'rouge'" [taille]="'petit'" (clickBouton)="selectionnerDeck(deck)"></app-pampa-button-carre>
      </div>
    </div>

    <div class="decklist" *ngIf="deckSelectionne">
      <h3>Deck sélectionné: {{ deckSelectionne.nom }}</h3>

      <ul class="carte-grid">
        <li *ngFor="let carte of deckSelectionne.cartes">
          <app-carte-terrain [carte]="carte"></app-carte-terrain>
        </li>
      </ul>

      <div class="ligne-centree"><app-pampa-button [texte]="'Attribuer ce deck'" [couleur]="'bleu'" [taille]="'petit'" (click)="ajouterCartesAuDeck()"></app-pampa-button></div>
    </div>
  </div>
</div>
