.background {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
}

.gestion-utilisateurs-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.selectUser {
  width: 20%;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

select,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  width: 20%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8C1C13;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6C150F;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.carte-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  justify-items: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
}

li {
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.button-grid button {
  width: 100%;
}

.decklist {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
}
