<div class="container">
  <h2>Gestion des cartes</h2>
  <div class="sort-buttons">
    <button (click)="selectedSort = 'clan'; sortDirection = 1; sortCards()">Trier par Clan (Ascendant)</button>
    <button (click)="selectedSort = 'clan'; sortDirection = -1; sortCards()">Trier par Clan (Descendant)</button>
    <button (click)="selectedSort = 'type'; sortDirection = 1; sortCards()">Trier par Type (Ascendant)</button>
    <button (click)="selectedSort = 'type'; sortDirection = -1; sortCards()">Trier par Type (Descendant)</button>
    <button (click)="selectedSort = 'nom'; sortDirection = 1; sortCards()">Trier par Nom (Ascendant)</button>
    <button (click)="selectedSort = 'nom'; sortDirection = -1; sortCards()">Trier par Nom (Descendant)</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Clan</th>
      <th>Type</th>
      <th>Rareté</th>
      <th>Puissance</th>
      <th>Effet</th>
      <th>Effet continu</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let carte of cartes; let i = index">
      <td><input type="text" [(ngModel)]="cartes[i].nom"></td>
      <td><span>{{ cartes[i].clan.nom }}</span></td>
      <td><span>{{ cartes[i].type.nom }}</span></td>
      <td><input type="number" [(ngModel)]="cartes[i].rarete"></td>
      <td><input type="number" [(ngModel)]="cartes[i].puissance"></td>
      <td>
        <select [(ngModel)]="cartes[i].effet" [compareWith]="compareEffets">
          <option [ngValue]="null">Aucun effet</option>
          <option *ngFor="let effet of effets" [ngValue]="effet">{{effet.code}} : {{effet.description }}</option>
        </select>
      </td>
      <td>{{ getContinuValue(carte) }}</td>
    </tr>
    </tbody>
  </table>
  <div class="ligne-centree"><app-pampa-button [texte]="'Enregistrer'" [couleur]="'bleu'" [taille]="'petit'" (click)="saveChanges()"></app-pampa-button></div>
</div>
