<div class="container">
  <div class="ligne-centree">Vous pourrez retrouver ici toutes les news liées aux Pampa Cards !</div>

  <div class="grid-container">
    <a [routerLink]="['/infos/boosters-details']">
      <div class="card">
        Détails des boosters
      </div>
    </a>
    <a [routerLink]="['/infos/deck-base-details']">
      <div class="card">
        Détails des decks de base
      </div>
    </a>
    <a [routerLink]="['/infos/details-effets']">
      <div class="card">
        Détails des effets
      </div>
    </a>
    <!--
    <a [routerLink]="['']">
      <div class="card">
        Autre
      </div>
    </a>
    -->
  </div>
</div>
