<div class="container">
  <div class="ligne-centree text-center margin-bot"><h2>Comment jouer aux Pampa Cards ?</h2></div>
  <div class="ligne-centree text-center margin-bot">Les Pampa Cards sont un jeu de carte où deux adversaires s'affrontent en duel.</div>
  <div class="ligne-centree text-center margin-bot">Avant de pouvoir jouer, vous devrez créer un deck de 20 cartes. Lors de la création d'un deck, vous devez sélectionner un format, qui correspond aux règles à respecter pour la composition de votre deck.</div>
  <div class="ligne-centree text-center margin-bot">Le format STANDARD est le format qui a pour objectif d'équilibrer au mieux le jeu, alors que le format NO LIMIT a pour but de juste se lacher !</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/tuto1.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Le deckbuilder vous permet de créer vos decks</div>
  <div class="ligne-centree text-center margin-bot">Le duel se joue en six tours et à la fin du sixième tour, le joueur avec le plus de puissance sur son terrain l'emporte.</div>
  <div class="ligne-centree text-center margin-bot">Le premier joueur de la partie peut-être sélectionné aléatoirement ou décidé entre les joueurs lors de l'invitation à jouer une partie.</div>
  <div class="ligne-centree text-center margin-bot">Une fois la partie acceptée par les deux joueurs, ils sont emmenés dans l'arène pour le combat ! C'est au premier joueur de commencer.</div>
  <div class="ligne-centree text-center margin-bot">L’ordre des 6 tours de jeu est le suivant :</div>
  <div class="ligne-centree text-center margin-bot">Tour 1 : Joueur 1 puis Joueur 2</div>
  <div class="ligne-centree text-center margin-bot">Tour 2 : Joueur 2 puis Joueur 1</div>
  <div class="ligne-centree text-center margin-bot">Tour 3 : Joueur 1 puis Joueur 2</div>
  <div class="ligne-centree text-center margin-bot">Tour 4 : Joueur 2 puis Joueur 1</div>
  <div class="ligne-centree text-center margin-bot">Tour 5 : Joueur 1 puis Joueur 2</div>
  <div class="ligne-centree text-center margin-bot">Tour 6 : Joueur 2 puis Joueur 1</div>
  <div class="ligne-centree text-center margin-bot">En partie, un schéma en haut à droite vous rappelle à tout moment où vous en êtes dans la partie et qui jouera le prochain tour.</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/tuto2.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">Encadré en rouge, le schéma donnant l'ordre des tours de jeu</div>
  <div class="ligne-centree text-center margin-bot">A chaque début de tour, le joueur commence par piocher des cartes jusqu'à avoir quatre cartes en main.
    Il joue une carte et peut également se défausser d'une carte s'il le souhaite. Il n'y a pas d'ordre entre ces deux actions, un joueur peut décider de défausser une carte puis d'en jouer une autre, notamment si cela permet un combo.</div>
  <div class="ligne-centree text-center margin-bot">Il existe deux types d'effets de cartes. Les effets instantanés s'activent au moment où vous jouez la carte et ne peuvent pas être annulés par la suite. Les effets continus sont actifs durant toute la partie mais peuvent être annulés avec un effet de Silence.</div>
  <div class="ligne-centree text-center margin-bot">Lorsqu'il a terminé son tour, le joueur clic sur "Fin de tour" et on passe à la phase suivante.</div>
  <div class="ligne-centree text-center margin-bot">Une fois que les deux joueurs ont terminés le sixième tour, c'est la fin de partie. Le joueur avec le score de puissance totale le plus élevé l'emporte !</div>
  <div class="ligne-centree text-center margin-bot"><img src="../../../assets/tuto/finpartie.png" alt="Image du tuto"></div>
  <div class="ligne-centree text-center margin-bot legende">L'arène à la fin de la partie</div>
</div>
