<div class="collection-container">
  <div class="background">
    <div class="sticky-bandeau">
      <app-bandeau-filtres-cartes (applyFilters)="applyFilters($event)"></app-bandeau-filtres-cartes>
      <div class="ligne-centree margin-top">
        Cartes possédées <input type="checkbox" [(ngModel)]="filtrerCartesPossedees" (change)="filtrerDonnees()">
        <div *ngIf="isUserTest()" class="margin-left">Cartes d'extension <input type="checkbox" [(ngModel)]="filtrerCartesExtension" (change)="filtrerDonnees()">
        </div>
      </div>
    </div>
    <ul class="cartes">
      <li *ngFor="let carte of cartesFiltrees">
        <div *ngIf="isInCollection(carte)">
          <div class="cadre-carte">
            <app-carte [carte]="carte" [taille]="'collection'"></app-carte>
            <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
            <div class="numberOfElements">(x{{countNumberInUserCollection(carte)}})</div>
          </div>
        </div>
        <div class="cadre-carte">
          <div *ngIf="!isInCollection(carte)" class="non-possede">
            <app-carte [carte]="carte" [taille]="'collection'" [ngClass]="{'grise-image': true}"></app-carte>
            <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
