<div class="background">
  <div class="filtres">
    <div>
      <p-multiSelect [options]="clans" [(ngModel)]="selectedClans" defaultLabel="Filtrer par clan" (onChange)="applyFilters()">
      </p-multiSelect>
    </div>
    <div>
      <p-multiSelect [options]="types" [(ngModel)]="selectedTypes" defaultLabel="Filtrer par type" (onChange)="applyFilters()">
      </p-multiSelect>
    </div>
    <div>
      <p-multiSelect [options]="raretes" [(ngModel)]="selectedRaretes" defaultLabel="Filtrer par rareté" (onChange)="applyFilters()">
      </p-multiSelect>
    </div>
    <button pButton type="button" label="Réinitialiser" (click)="resetFilters()" class="p-button-secondary"></button>
    <button pButton type="button" label="Trier par nom" (click)="sort('nom')" class="p-button-secondary"></button>
    <button pButton type="button" label="Trier par rareté" (click)="sort('rarete')" class="p-button-secondary"></button>
  </div>

  <ul class="cartes">
    <li *ngFor="let carte of cartesFiltrees">
      <div *ngIf="isInCollection(carte)">
        <div class="cadre-carte">
          <app-carte-terrain [carte]="carte"></app-carte-terrain>
          <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
          <div class="numberOfElements">(x{{countNumberInUserCollection(carte)}})</div>
        </div>
      </div>
      <div class="cadre-carte">
        <div *ngIf="!isInCollection(carte)" class="non-possede">
          <app-carte-terrain [carte]="carte" [ngClass]="{'grise-image': true}"></app-carte-terrain>
          <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
        </div>
      </div>
    </li>
  </ul>

</div>
