<div class="collection-container">
  <div class="background">
    <app-bandeau-filtres-cartes (applyFilters)="applyFilters($event)"></app-bandeau-filtres-cartes>
    <ul class="cartes">
      <li *ngFor="let carte of cartesFiltrees">
        <div *ngIf="isInCollection(carte)">
          <div class="cadre-carte">
            <app-carte-terrain [carte]="carte" [taille]="'collection'"></app-carte-terrain>
            <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
            <div class="numberOfElements">(x{{countNumberInUserCollection(carte)}})</div>
          </div>
        </div>
        <div class="cadre-carte">
          <div *ngIf="!isInCollection(carte)" class="non-possede">
            <app-carte-terrain [carte]="carte" [taille]="'collection'" [ngClass]="{'grise-image': true}"></app-carte-terrain>
            <div *ngIf="carte.image_path == null">Pas d'image pour cette carte {{carte.nom}}.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
