<div class="administration-container">
  <h1>Administration</h1>
  <div class="options">
    <app-pampa-button [texte]="'Administration des comptes'" [couleur]="'bleu'" [taille]="'moyen'" (clickBouton)="goToCreateAccount()"></app-pampa-button>
    <app-pampa-button [texte]="'Attribution deck de base'" [couleur]="'vert'" [taille]="'moyen'" (clickBouton)="goToDeckAttribution()"></app-pampa-button>
    <app-pampa-button [texte]="'Administration des données'" [couleur]="'violet'" [taille]="'moyen'" (clickBouton)="goToDataManagement()"></app-pampa-button>
  </div>
</div>
