<div class="container">
  <h3>Tournois disponibles</h3>
  <div class="details-statuts">
    <div class="table-container">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Nombre de places</th>
          <th>Format</th>
          <th>Type de combat</th>
          <th>Statut</th>
          <th>Nombre d'inscrits</th>
          <th>Inscrits</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tournoi of tournoisOuverts">
          <td>{{ tournoi.nom }}</td>
          <td>{{ tournoi.nombreDeJoueurs }}</td>
          <td>{{ tournoi.format.nom }}</td>
          <td>{{ tournoi.typeCombat.nom }}</td>
          <td>{{ tournoi.statut }}</td>
          <td>{{ tournoi.participants.length }}</td>
          <td>
            <div *ngFor="let participant of tournoi.participants">
              {{ participant.pseudo }}
            </div>
          </td>
          <td *ngIf="tournoi.nombreDeJoueurs > tournoi.participants.length && !isUserInTournoiParticipants(tournoi) && inscriptionTournoiOuverte(tournoi)">
            <app-pampa-button-carre [texte]="'S\'inscrire'" [couleur]="'bleu'" [taille]="'mini'" (click)="registerForTournament(tournoi)"></app-pampa-button-carre>
          </td>
          <td *ngIf="isUserInTournoiParticipants(tournoi) && inscriptionTournoiOuverte(tournoi)">
            <app-pampa-button-carre [texte]="'Quitter'" [couleur]="'rouge'" [taille]="'mini'" (click)="unregisterForTournament(tournoi)"></app-pampa-button-carre>
          </td>
          <td *ngIf="tournoi.nombreDeJoueurs <= tournoi.participants.length">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>Ligues disponibles</h3>
  <div class="details-statuts">
    <div class="table-container">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Nombre d'inscris</th>
          <th>Format</th>
          <th>Type de combat</th>
          <th>Statut</th>
          <th>Nombre d'inscrits</th>
          <th>Inscrits</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ligue of liguesOuvertes">
          <td>{{ ligue.nom }}</td>
          <td>{{ ligue.participants.length }}</td>
          <td>{{ ligue.format.nom }}</td>
          <td>{{ ligue.typeCombat.nom }}</td>
          <td>{{ ligue.statut }}</td>
          <td>{{ ligue.participants.length }}</td>
          <td>
            <div *ngFor="let participant of ligue.participants">
              {{ participant.pseudo }}
            </div>
          </td>
          <td *ngIf="!isUserInLigueParticipants(ligue) && inscriptionLigueOuverte(ligue)">
            <app-pampa-button-carre [texte]="'S\'inscrire'" [couleur]="'bleu'" [taille]="'mini'" (click)="registerForLigue(ligue)"></app-pampa-button-carre>
          </td>
          <td *ngIf="isUserInLigueParticipants(ligue) && inscriptionLigueOuverte(ligue)">
            <app-pampa-button-carre [texte]="'Quitter'" [couleur]="'rouge'" [taille]="'mini'" (click)="unregisterForLigue(ligue)"></app-pampa-button-carre>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>Vos tournois</h3>
  <div class="details-statuts">
    <div class="table-container">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tournoi of registeredTournaments">
          <td>{{ tournoi.nom }}</td>
          <td><span [ngClass]="{'status-active': tournoi.statut === 'En cours',
          'status-pending': tournoi.statut === 'En attente',
          'status-ended': tournoi.statut === 'Terminé'}">{{ tournoi.statut }}</span>
          </td>
          <td class="ligne-centree" *ngIf="isUserInTournoiParticipants(tournoi) && isTournoiEnCours(tournoi)">
            <app-pampa-button-carre [texte]="'Voir'" [couleur]="'bleu'" [taille]="'mini'" (click)="voirTournoi(tournoi)"></app-pampa-button-carre>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3>Vos ligues</h3>
  <div class="details-statuts">
    <div class="table-container">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ligue of registeredLigues">
          <td>{{ ligue.nom }}</td>
          <td><span [ngClass]="{'status-active': ligue.statut === 'En cours',
          'status-pending': ligue.statut === 'En attente',
          'status-ended': ligue.statut === 'Terminé'}">{{ ligue.statut }}</span>
          </td>
          <td class="ligne-centree" *ngIf="isUserInLigueParticipants(ligue) && isLigueEnCours(ligue)">
            <app-pampa-button-carre [texte]="'Voir'" [couleur]="'bleu'" [taille]="'mini'" (click)="voirLigue(ligue)"></app-pampa-button-carre>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
