<div class="tournament-list colonne-centree">
  <h2>Tournois disponibles</h2>
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de joueurs</th>
      <th>Format</th>
      <th>Type de combat</th>
      <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tournoi of availableTournaments">
      <td>{{ tournoi.nom }}</td>
      <td>{{ tournoi.nombreDeJoueurs }}</td>
      <td>{{ tournoi.format.nom }}</td>
      <td>{{ tournoi.typeCombat.nom }}</td>
      <td>{{ tournoi.statut }}</td>
      <td><button (click)="registerForTournament(tournoi)">S'inscrire</button></td>
    </tr>
    </tbody>
  </table>

  <h2>Vos tournois</h2>
  <ul>
    <li *ngFor="let tournament of registeredTournaments">
      <span>{{ tournament.name }}</span>
      <span [ngClass]="{'status-active': tournament.status === 'En cours', 'status-pending': tournament.status === 'En attente'}">{{ tournament.status }}</span>
    </li>
  </ul>
</div>
