.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.vainqueur {
  font-size: 1.2em;
  color: #4CAF50;
  margin-top: 10px;
}

.tableau {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.tour {
  max-width: 25vw;
  padding: 15px;
}

.round-header {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
}

.affrontement {
  margin-bottom: 10px;
}

.bracket-game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(25,25,25,1);
}

.player span {
  flex: 1;
  text-align: left;
}

.scoreVainqueur, .scorePerdant, .score {
  flex: 0 0 50px;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

.scoreVainqueur {
  background-color: forestgreen;
  color: white;
}

.scorePerdant {
  background-color: indianred;
  color: white;
}

.score {
  background-color: grey;
  color: white;
}

.action {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .tableau {
    grid-template-columns: 1fr;
  }
}
