.tableau {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
}

.tour {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bracket-game {
  margin: 10px 0;
}

.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
}

.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}
