<div class="background">
  <div class="container">
    <h3>Créer un compte</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" [(ngModel)]="user.pseudo" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required autocomplete="off">
      </div>
      <app-pampa-submit-button [texte]="'Créer le compte'" [couleur]="'vert'" [taille]="'moyen'"></app-pampa-submit-button>
    </form>
  </div>
  <div class="container">
    <h3>Modifier le mot de passe</h3>
    <form (ngSubmit)="onChangePassword()">
      <div class="form-group">
        <label for="selectedUser">Utilisateur à modifier</label>
        <select id="selectedUser" name="selectedUser" [(ngModel)]="selectedUserName">
          <option *ngFor="let pseudo of pseudosUtilisateurs" [value]="pseudo">{{ pseudo }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required autocomplete="off">
      </div>
      <app-pampa-submit-button [texte]="'Modifier le mot de passe'" [couleur]="'bleu'" [taille]="'moyen'"></app-pampa-submit-button>
    </form>
  </div>
  <div class="container">
    <h3>Réinitialiser un utilisateur</h3>
    <form (ngSubmit)="onReinitUser()">
      <div class="form-group">
        <label for="selectedUserReinit">Utilisateur à réinitialiser</label>
        <select id="selectedUserReinit" name="selectedUser" [(ngModel)]="selectedUserNameReinit">
          <option *ngFor="let pseudo of pseudosUtilisateurs" [value]="pseudo">{{ pseudo }}</option>
        </select>
      </div>
      <app-pampa-submit-button [texte]="'Réinitialiser'" [couleur]="'rouge'" [taille]="'moyen'"></app-pampa-submit-button>
    </form>
  </div>
</div>
