<div class="home-container">
  <h1 class="title">Les Pampa Cards sont en ligne !</h1>

  <div class="news-container">
    <div class="main-news">
      <div class="news-image">
        <img src="../../assets/news/gens.jpg" alt="Image de la news principale">
        <div class="news-overlay">
          <h2 class="news-title">A vos retours !</h2>
          <p class="news-content">
            Le jeu a beaucoup évolué ces derniers mois et il est temps de récolter un maximum de vos retours. Vous avez des idées ? Des bugs à remonter ? Des suggestions d'améliorations ? Contactez-moi sur Twitch, par discord ou d'une autre manière.
          </p>
        </div>
      </div>
    </div>

    <div class="small-news">
      <div class="small-new">
        <div class="small-news-image">
          <img src="../../assets/news/frozaurus.png" alt="Image du Frozaurus">
          <div class="news-overlay">
            <h2 class="news-title">Trop forts !</h2>
            <p class="news-content">
              Le Frozaurus et le Soldat des vagues deviennent limités à 2 exemplaires
            </p>
          </div>
        </div>
      </div>
      <div class="small-new">
        <div class="small-news-image">
          <img src="../../assets/news/tuto.jpg" alt="Image de la news 2">
          <div class="news-overlay">
            <h2 class="news-title">Le tutoriel est là !</h2>
            <p class="news-content">
              Un menu tutoriel vient d'apparaître pour apprendre à jouer aux Pampa Cards
            </p>
          </div>
        </div>
      </div>
      <div class="small-new">
        <div class="small-news-image">
          <img src="../../assets/news/coupe.jpg" alt="Image de la news 3">
          <div class="news-overlay">
            <h2 class="news-title">Des tournois ?</h2>
            <p class="news-content">
              C'est peut-être la nouvelle grosse fonctionalité à venir : Pouvoir s'incrire à des tournois !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
