.features-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;

  .feature-card {
    box-shadow: -5px -5px 20px #141414, 5px 5px 20px #0a0a0a;
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    padding-bottom: 20px;
    margin: 0 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    .card-content {

      img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

.explanation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;

  .illustration {
    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .explanation-text {
    text-align: center;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
    }
  }
}
