<div class="explanation-section">
  <div class="explanation-text">
    <h2>Bienvenue dans le Monde des Pampa Cards !</h2>
    <p>
      Explorez les fonctionnalités pour commencer votre aventure.
    </p>
    <p>
      Apprenez les règles, découvrez les decks de départ, construisez votre propre deck, trouvez des adversaires et participez à des tournois excitants.
    </p>
    <p>
      Que l'aventure commence !
    </p>
  </div>
</div>

<div class="features-container">
  <div class="feature-card">
    <div class="card-content">
      <h2>Apprendre à Jouer</h2>
      <p>Découvrez les règles du jeu et les bases stratégiques.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/tutoriel/jouer')">Tutoriel</button>
  </div>
  <div class="feature-card">
    <div class="card-content">
      <h2>Découvrir les decks de départ</h2>
      <p>Le choix du deck de départ est toujours important.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/infos/deck-base-details')">Decks de départ</button>
  </div>
  <div class="feature-card">
    <div class="card-content">
      <h2>Voir le détail des boosters</h2>
      <p>Découvrez dans quel booster trouver la carte de vos rêves.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/infos/deck-base-details')">Boosters</button>
  </div>
</div>
<div *ngIf="authService.isLoggedIn$ | async" class="features-container">
  <div class="feature-card">
    <div class="card-content">
      <h2>Construire un deck</h2>
      <p>Préparez votre armée pour le combat.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/infos/boosters-details')">Deckbuilder</button>
  </div>
  <div *ngIf="authService.isLoggedIn$ | async" class="feature-card">
    <div class="card-content">
      <h2>Trouver un adversaire</h2>
      <p>Rien ne vos un match amical pour s'entrainer.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/recherche-combat')">Arène</button>
  </div>
  <div *ngIf="authService.isLoggedIn$ | async" class="feature-card">
    <div class="card-content">
      <h2>Voir les tournois</h2>
      <p>Les vrais compétitions se trouvent ici.</p>
    </div>
    <button class="explore-button" (click)="navigateTo('/tournois')">Tournois</button>
  </div>
</div>
