button {
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  padding: 16px;
  background-color: #272727;
  text-shadow: 1px 1px 0 #212121;
  color: #feeeee;
  border-radius: 320px;
  box-shadow: -5px -5px 20px #212121, 5px 5px 20px #0a0a0a;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  display: block;
  width: 100%;
}

button:hover {
  box-shadow: -2px -2px 5px #212121, 2px 2px 5px #141414;
}

button:active {
  box-shadow: inset 1px 1px 2px #141414, inset -1px -1px 2px #212121;
}
