<div class="background">
  <h1>Détail des decks de base</h1>

  Cliquez sur un deck de base pour voir les cartes qui le composent

  <div class="button-grid">
    <div *ngFor="let deck of decksDeBase">
      <app-pampa-button-carre [texte]="deck.nom" [couleur]="'rouge'" [taille]="'petit'" (clickBouton)="selectionnerDeck(deck)"></app-pampa-button-carre>
    </div>
  </div>

  <div class="ligne-centree" *ngIf="deckSelectionne">
    <h3>{{ deckSelectionne.nom }}</h3>

    <ul class="carte-grid">
      <li *ngFor="let carte of deckSelectionne.cartes">
        <app-carte [taille]="'booster'" [carte]="carte"></app-carte>
      </li>
    </ul>
  </div>
</div>
