.background {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,25,1) 0%, rgba(39,39,39,1) 50%, rgba(25,25,25,1) 100%);
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.carte-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-grid button {
  width: 100%;
}
